@media only screen and (max-width: 1000px) {
  #list-container {
      width: 600px
  }
}
@media only screen and (max-width: 600px) {
    #list-container {
        width: 400px
    }
  }
  @media only screen and (max-width: 400px) {
    #list-container {
        width: 300px
    }
  }
  @media only screen and (max-height: 600px) {
    #list-container {
        height:300px;
    }
  }

  @media only screen and (max-height: 400px) {
    #list-container {
        height:150px;
    }
  }